---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Hexolan | Not Found">
	<main class="flex flex-col space-y-5 justify-center items-center min-h-screen">
		<p class="text-3xl text-neutral-100 font-sans">404 Page not Found</p>
		<a class="text-neutral-300" href="/">Back to Homepage</Link>
	</main>
</Layout>
